:root {
    --navbar-color: #900d0d;
    
    --button-primary-color: #b11010;
    --button-primary-color-hover: #e44c4c;
    
    --button-secondary-color: #6c10b1;
    --button-secondary-color-hover: #a34ce4;
}

:root[theme="dark"] {
    --background-color: #121212;
    --surface-color: #242424;

    --font-color-main: rgba(255, 255, 255, 0.87);
}
